{
    "logging": {
        "console": null,
        "level": "warn",
        "path": "/var/log/ffxiv-market.log"
    },
    "server": {
        "tornado": {
            "address": "127.0.0.1",
            "port": 1506,
            "static_path": "/srv/ffxiv-market/static",
            "hmac": "Some secret sequence of words"
        },
        "mako": {
            "templates_path": "/srv/ffxiv-market/mako_templates",
            "modules_path": "/tmp/ffxiv-market/mako_modules"
        },
        "postgres": {
            "host": "127.0.0.1",
            "database": "ffxiv_market",
            "username": "username",
            "password": "password",
            "connections_min": 1,
            "connections_max": 4
        }
    },
    "cookies": {
        "authentication": {
            "longevity_days": 28,
            "identifier": "auth"
        }
    },
    "graphing": {
        "days": 28,
        "data_points": 168
    },
    "data": {
        "prices": {
            "delete_window": 86400
        }
    },
    "lists": {
        "item_watch": {
            "limit": 50
        },
        "most_watched": {
            "limit": 50
        },
        "no_supply": {
            "limit": 50,
            "max_age": 604800
        },
        "most_valuable": {
            "limit": 75,
            "max_age": 172800,
            "min_value": 250,
            "max_value": 7500
        },
        "stale": {
            "limit": 75,
            "min_age": 86400,
            "max_age": 604800
        },
        "recently_updated": {
            "limit": 50,
            "max_age": 604800
        },
        "search": {
            "limit": 50,
        }
    },
    "meta": {
        "admin_name": "Your Character",
        "admin_email": "some@address.thing",
        "game_server": "Ultros",
        "site_name": "Ultros Market Database",
        "show_ad": false,
        "language": "en"
    }
}
