body{
    font-family: sans-serif;
    font-size: 10pt;
}

.ui-menu-item{
    font-family: sans-serif;
    font-size: 0.75em;
}

.ffxiv-list{
    margin-top: -5px;
    margin-left: -10px;
    list-style-position: outside;
    list-style-type: square;
}

.timestamp{
    color: #808080;
}

.nodata{
    color: #808080;
}

form.inl-up{
    display: inline;
}
input.inl-up{
    font-size: 0.8em;
}

.about-topic{
    padding-bottom: 15px;
}
.about-header{
    font-size: 1.5em;
}
.about-list{
    margin: -8px 0;
}
.about-list li{
    margin: 8px 0;
}
